In [1]:
import pandas as pd

# Caminho para o arquivo CSV
caminho_arquivo = '/Users/ricardoferreira/Downloads/export (1).csv'

# Importar o arquivo CSV
df = pd.read_csv(caminho_arquivo)

In [2]:
df.head()

,ID,year_birth_group,income_group,dt_customer_group,recency_group,Education,Marital_status,Kidhome,Teenhome,MntWines,...,Education_int,Marital_status_int,Kidhome_int,Teenhome_int,MntWines_int,MntFruits_int,MntMeatProducts_int,MntFishProducts_int,MntSweetProducts_int,MntGoldProds_int
0,528,1,2,3,High,3,4,0,0,267,...,3,4.0,0,0,267,38,701,149,165,63
1,5263,2,4,3,High,4,4,1,0,5,...,4,4.0,1,0,5,10,13,3,8,16
2,2831,2,1,1,High,3,3,0,1,453,...,3,3.0,0,1,453,38,279,188,38,183
3,10142,2,2,3,High,1,2,0,1,372,...,1,2.0,0,1,372,18,126,47,48,78
4,22,2,3,3,High,3,2,1,0,185,...,3,2.0,1,0,185,2,88,15,5,14

In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Dividir os dados em conjunto de treinamento e teste
train_df, test_df = train_test_split(df.dropna(), test_size=0.1, random_state=42)

# Definir as features (colunas de entrada) e o target (coluna de saída)
features = ['year_birth_group_int', 'income_group_int', 'dt_customer_group_int', 'Education_int', 'Marital_status_int', 'Kidhome_int', 'Teenhome_int']
target = 'Response'

# Criar o modelo de machine learning (Random Forest Classifier)
model = RandomForestClassifier()

# Treinar o modelo usando o conjunto de treinamento
model.fit(train_df[features], train_df[target])

# Fazer previsões no conjunto de teste
predictions = model.predict(test_df[features])

# Calcular a acurácia do modelo
accuracy = accuracy_score(test_df[target], predictions)
precision = precision_score(test_df[target], predictions)
recall = recall_score(test_df[target], predictions)
f1 = f1_score(test_df[target], predictions)
print(f"Acurácia do modelo: {accuracy}")
print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"F1-score: {f1}")

# Fazer previsões usando novos dados
new_data = {
    'year_birth_group_int': [1995, 1988],
    'income_group_int': [2, 3],
    'dt_customer_group_int': [4, 5],
    'Education_int': [4, 3],  # Update with appropriate values
    'Marital_status_int': [1, 0],  # Update with appropriate values
    'Kidhome_int': [0, 1],
    'Teenhome_int': [1, 0]
}
new_df = pd.DataFrame(new_data)
new_predictions = model.predict(new_df[features])
print(f"Previsões para novos dados: {new_predictions}")

# Obter as probabilidades de cada classe para os novos dados
probabilities = model.predict_proba(new_df[features])

# Extrair as probabilidades para a classe 1
scores = probabilities[:, 1]

print(f"Scores para novos dados: {scores}")

Acurácia do modelo: 0.832579185520362
Precision: 0.41935483870967744
Recall: 0.40625
F1-score: 0.4126984126984127
Previsões para novos dados: [0 1]
Scores para novos dados: [0.09295238 0.55425   ]

In [14]:
from sklearn.metrics import confusion_matrix

# Calcular a matriz de confusão
confusion = confusion_matrix(test_df[target], predictions)

# Exibir a matriz de confusão
print("Matriz de Confusão:")
print(confusion)

Matriz de Confusão:
[[171  18]
 [ 19  13]]